@font-face {
  font-family: "Rubik";
  src: url(../font/Rubik-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.animate__animated {
  --animate-duration: 3s;
}

.bg-color-caja {
  background-color: rgb(233, 233, 252);
}

.bg-color-boton {
  background-color: #85B041;
}
.bg-color-boton:hover {
  background-color: #45a049;
}

header {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  display: grid;
}
header h1,
header p {
  text-align: center;
  color: #192436;
}
header .lead {
  font-size: 25pt;
}

body {
  background-image: url("../img/fondo.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
}

main h2 {
  margin: 15px;
  text-align: center;
  color: #3A5683;
}
main h3 {
  margin: 15px;
  text-align: center;
  font-style: italic;
  color: #3A5683;
}

/* MENU PRINCIPAL */
nav {
  background-color: #85B041;
}
nav a {
  color: #192436 !important;
}

/* FIN MENU PRINCIPAL */
/*  HOME */
.home p {
  padding: 15px;
  color: #3A5683;
  font-size: xx-large;
  text-align: center;
  text-shadow: 2px 3px rgb(233, 233, 252);
}

.home-uno {
  background-image: url("../img/fondoHomeBk1.jpg");
  height: 500px;
  background-size: cover;
}

.home-dos {
  background-image: url("../img/fondoHomeBk2.jpg");
  height: 500px;
  background-size: cover;
}

.home-tres {
  background-image: url("../img/fondoHomeBk3.jpg");
  height: 500px;
  background-size: cover;
}

/* FIN HOME */
/* RRSS */
footer {
  background-color: rgb(233, 233, 252);
}
footer ul {
  margin-right: 15px;
}

.footer-autor {
  background-color: #85B041;
}

.footer-facebook {
  d: path("M14.1487 24.9911V15.914H11.5V13.0014H14.1487V12.7155C14.1487 11.9293 14.1202 11.1342 14.1867 10.348C14.1867 9.09719 14.9462 7.96255 16.1424 7.41756C16.5886 7.22101 17.0633 7.09593 17.5475 7.04233C18.5348 6.97086 19.5222 6.98872 20.5 7.10487V9.72258H20.2437C19.6836 9.72258 19.1329 9.72258 18.5728 9.74045C17.9462 9.70471 17.4051 10.1514 17.3671 10.7411C17.3671 10.7947 17.3671 10.8393 17.3671 10.893C17.3481 11.5541 17.3671 12.2152 17.3671 12.8763C17.3671 12.9121 17.3671 12.9567 17.3861 12.9925H20.4335C20.3006 13.9842 20.1677 14.9401 20.0348 15.9229H17.3766V25H14.1582L14.1487 24.9911Z");
  fill: #3A5683;
}

.footer-youtube {
  d: path("M23.9297 14.1599C23.8592 13.526 23.8064 12.8863 23.6832 12.2583C23.5071 11.372 22.8438 10.7792 21.9517 10.6794C21.0654 10.5796 20.1674 10.4857 19.2752 10.4681C17.4029 10.427 15.5247 10.4153 13.6523 10.4387C12.5606 10.4505 11.4689 10.5444 10.3772 10.6207C10.0192 10.6442 9.66701 10.7087 9.33832 10.8848C8.69269 11.237 8.35813 11.8004 8.24661 12.5165C8.02358 13.8958 7.97075 15.281 8.01771 16.672C8.04705 17.4703 8.11749 18.2685 8.18792 19.0668C8.2114 19.3485 8.26422 19.6361 8.35226 19.9061C8.63399 20.7572 9.25028 21.2267 10.1248 21.3089C11.152 21.4087 12.1791 21.4967 13.2063 21.526C14.6267 21.5671 16.0471 21.5789 17.4733 21.5613C18.7118 21.5437 19.9502 21.4674 21.1887 21.4028C21.5115 21.3852 21.8343 21.3441 22.1454 21.2737C23.0199 21.0682 23.5364 20.4989 23.7125 19.6244C23.8768 18.8085 23.9238 17.9751 23.9649 17.1416C23.9708 16.9831 23.9884 16.8247 24.0001 16.6603V15.2223C23.9766 14.8643 23.9708 14.5062 23.9297 14.1482V14.1599ZM14.4036 18.3918V13.5906C15.7947 14.3888 17.1681 15.1812 18.5768 15.9912C17.1798 16.7953 15.8064 17.5877 14.4036 18.3918Z");
  fill: #3A5683;
}

.footer-instagram-uno {
  d: path("M20.3321 10.752C19.7952 10.736 19.3487 11.1413 19.3381 11.68C19.3275 12.2187 19.7368 12.6453 20.2577 12.6667C20.7946 12.6827 21.2411 12.2667 21.2517 11.7387C21.2623 11.2107 20.853 10.7733 20.3321 10.752Z");
  fill: #3A5683;
}

.footer-instagram-dos {
  d: path("M24 13.7651C24 13.1785 23.9522 12.5865 23.899 11.9998C23.6864 9.96246 22.3149 8.44779 20.3056 8.15979C19.3116 8.02112 18.2857 7.99979 17.2757 7.99979C15.5429 7.99979 13.7993 7.98912 12.0664 8.11179C9.90831 8.26112 8.33488 9.86113 8.15947 12.0265C8.04784 13.3491 8.04784 14.6771 8 16.0158C8.05316 17.3385 8.05316 18.6771 8.16478 20.0051C8.32957 22.0318 9.74884 23.5571 11.7528 23.8451C12.7628 23.9838 13.7887 24.0051 14.8093 24.0051C16.5422 24.0051 18.2751 24.0158 19.9973 23.8931C21.592 23.7705 22.804 22.9545 23.511 21.4665C23.8193 20.8158 23.9575 20.1171 23.9628 19.4025L23.9522 19.4131C23.9787 17.5358 24 15.6478 24 13.7705V13.7651ZM22.4904 19.6051C22.4425 21.3171 21.3422 22.4105 19.6359 22.4585C17.2385 22.5225 14.8252 22.5225 12.4173 22.4585C10.7322 22.4105 9.62658 21.3171 9.58405 19.6211C9.52027 17.2051 9.52027 14.7785 9.58405 12.3518C9.63189 10.6611 10.7322 9.62112 12.4173 9.49846C13.0179 9.46113 13.6292 9.44512 14.2352 9.43446C14.8306 9.42379 18.4505 9.43446 19.6625 9.50912V9.49846C21.3422 9.59979 22.4425 10.6611 22.4904 12.3358C22.5542 14.7518 22.5542 17.1785 22.4904 19.6051Z");
  fill: #3A5683;
}

.footer-instagram-tres {
  d: path("M16.0533 11.8773C13.7835 11.8667 11.939 13.7173 11.939 15.9947C11.939 18.272 13.7569 20.096 16.0267 20.1013C18.2964 20.112 20.141 18.2613 20.141 15.984C20.141 13.7067 18.323 11.8773 16.0533 11.8773ZM16.0426 18.672C14.5702 18.672 13.3742 17.4613 13.3742 15.984C13.3848 14.5173 14.5755 13.328 16.0373 13.328H16.0479C17.5097 13.328 18.7004 14.528 18.7004 15.9947C18.7004 17.4613 17.515 18.672 16.0479 18.672H16.0426Z");
  fill: #3A5683;
}

.footer-twitter {
  d: path("M24.6071 13.0372C24.3036 13.2375 24.1339 13.5859 24.1607 13.943C24.1339 18.0889 21.5893 21.8253 17.6786 23.4454C16.1696 24.0289 14.5357 24.2815 12.9196 24.177C11.2768 24.0812 9.67858 23.6196 8.25894 22.8095C8.15179 22.766 8.0625 22.6963 8 22.6005C9.91964 22.7747 11.8393 22.226 13.3661 21.0763C12.5893 21.0415 11.8393 20.7802 11.2143 20.336C10.5982 19.8918 10.1339 19.2647 9.89285 18.5505C10.375 18.6289 10.8571 18.6202 11.3393 18.5418C11.3928 18.5243 11.4464 18.5069 11.4911 18.4721C9.64286 17.8885 8.46429 16.434 8.61607 14.9098C9.11607 15.1537 9.66071 15.293 10.2232 15.3104C9.44642 14.7792 8.90178 13.9866 8.69643 13.0808C8.48214 12.1924 8.63392 11.2517 9.10713 10.4678C9.54463 10.973 10.0268 11.452 10.5446 11.8788C11.9554 13.0285 13.6518 13.795 15.4732 14.1085C15.8304 14.1695 16.1964 14.1869 16.5536 14.2479C16.7857 14.2827 16.7946 14.1956 16.7679 14.0214C16.4286 12.0443 17.7946 10.1804 19.8125 9.84944C20.9375 9.66653 22.0804 9.9975 22.9286 10.7378C23.0714 10.8946 23.3036 10.9469 23.5 10.8685C24.1696 10.6943 24.8125 10.4504 25.4196 10.1281L25.4732 10.102C25.4732 10.102 25.4732 10.1456 25.4732 10.163C25.2232 10.8685 24.75 11.4694 24.125 11.8962C24.0804 11.9311 24.0446 11.9659 24.0089 12.0007L24.0357 12.0269C24.7143 11.9485 25.375 11.7743 26 11.513C25.6339 12.0966 25.1696 12.6017 24.6161 13.0198");
  fill: #3A5683;
}

.footer-rect {
  stroke: #3A5683;
}

/* FIN RRSS */
/* QUIENES SOMOS */
.quienes-somos-caja {
  background-color: rgb(233, 233, 252);
  overflow: hide;
  border: 1px solid black;
}
.quienes-somos-caja img {
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.quienes-somos-caja h4 {
  text-align: center;
  color: #3A5683;
}

/* FIN QUIENES SOMOS */
/* AVENTURAS */
.aventuras {
  margin-top: 5px;
  overflow: hide;
  vertical-align: top;
  border: 1px solid black;
}
.aventuras img {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.aventuras h4 {
  text-align: center;
}

/* FIN AVENTURAS */
/* CONTACTANOS */
.contactanos label {
  color: #3A5683;
}
.contactanos button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* FIN CONTACTANOS */
/* EQUIPAMIENTO */
.equipamiento {
  text-align: left;
}
.equipamiento ul li.active {
  text-align: center;
  background-color: #85B041;
  border-color: #85B041;
}

/* FIN EQUIPAMIENTO */
/* EXPERIENCIAS */
.experiencias main {
  display: grid;
}

.experiencias-youtube, .experiencias-twitter {
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
}

.experiencias-twitter {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  background-image: linear-gradient(to bottom, #8e8ee9, #3ba7f3, #00b9e4, #2bc4c7, #75cbab, #75cbab, #75cbab, #75cbab, #2bc4c7, #00b9e4, #3ba7f3, #8e8ee9);
}
.experiencias-twitter div {
  width: 300px;
}

.experiencias-youtube {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  background-image: linear-gradient(to bottom, #8e8ee9, #3ba7f3, #00b9e4, #2bc4c7, #75cbab, #75cbab, #75cbab, #75cbab, #2bc4c7, #00b9e4, #3ba7f3, #8e8ee9);
}
.experiencias-youtube div {
  background-color: rgb(233, 233, 252);
  overflow: hide;
  padding: 15px;
  margin: 50px;
  border: 1px solid black;
  height: 550px;
}
.experiencias-youtube div iframe {
  width: 100%;
  height: 300px;
}

/* FIN EXPERIENCIAS */
/* MOBILE */
@media (min-width: 0px) and (max-width: 576px) {
  .home {
    text-align: center;
  }
  .quienes-somos-caja p {
    text-align: center;
  }
  .aventuras img {
    padding: 15px;
  }
  .aventuras h4,
  .aventuras p {
    text-align: center;
  }
  .equipamiento {
    width: 100%;
    text-align: center;
  }
  .experiencias {
    text-align: center;
  }
  .experiencias-twitter,
  .experiencias-youtube {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    text-align: left;
  }
}
/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .home {
    text-align: center;
  }
  .quienes-somos-caja p {
    text-align: center;
  }
  .aventuras img {
    padding: 15px;
  }
  .aventuras h4,
  .aventuras p {
    text-align: center;
  }
  .equipamiento {
    width: 100%;
    text-align: center;
  }
  .experiencias {
    text-align: center;
  }
  .experiencias-twitter {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .experiencias-youtube {
    column-gap: 0px;
    row-gap: 0px;
  }
  .experiencias-youtube div {
    height: 600px;
  }
  footer {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
