$color-boton: #85B041;
$color-boton-hover: #45a049;
$color-caja: rgb(233, 233, 252);
$color-fuente-titulo: #192436;
$color-fuente: #3A5683;
$color-borde: black;
$color-gradiente-uno: #8e8ee9;
$color-gradiente-dos: #3ba7f3;
$color-gradiente-tres: #00b9e4;
$color-gradiente-cuatro: #2bc4c7;
$color-gradiente-cinco: #75cbab;
