$imagen-banner: url("../img/banner.jpg");
$imagen-fondo: url("../img/fondo.jpg");
$imagen-home-uno: url("../img/fondoHomeBk1.jpg");
$imagen-home-dos: url("../img/fondoHomeBk2.jpg");
$imagen-home-tres: url("../img/fondoHomeBk3.jpg");